<footer>		
	<div>
		<div class="icon">
			<a href="/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
		</div>
		<div class="icon">
			<a href="/"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		</div>
		<div class="icon">
			<a href="/"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</footer>