<footer>
	<p>derek.s.tolbert@gmail.com</p>		
	<p>Created by Derek Tolbert</p>
	<ul>
		<li><a href="https://www.linkedin.com/in/derek-tolbert-604660157/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
		<li><a href="https://github.com/dstolbert"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
		<li><a href="mailto:derek.s.tolbert@gmail.com"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a></li>
	</ul>
</footer>