	<link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
	<script src="https://use.fontawesome.com/e163cbf77f.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<h2><a href="/">Derek Tolbert</a></h2>
			<ul class="links">
				<li><a href="/">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>