<!DOCTYPE html>
<html>
<head>
	<title>Derek Tolbert</title>
	<link rel="stylesheet" type="text/css" href="css/about.css"></link>
<% include partials/header %>

    <section>
        <div class="background-image" style="background-image: url(/img/joshua-tree.svg);" ></div>
        <div class="content">
            <h2>About Me</h2>
            <p>I began computer programming as part of the research I was doing in graduate school. Having no computer science background this new world was extremely exciting. At school, I was using very specific tools like LabVIEW and STATA. However, I began playing around with C++ in my free time to continue learning. My passion for coding did not truly take off until I began web development. Web development is highly rewarding to me as it provides both an aesthetic appeal and the occasional intellectual challenge. I look forward to growing as a member of the developer community. Thank you for taking the time to visit my website.</p>
            <p id="author">
                <em>-Derek</em>
            </p>
        </div>
    </section>

<% include partials/footer %>
</body>