<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	<link rel="stylesheet" type="text/css" href="css/about.css"></link>
<% include partials/header %>

    <section>
        <div class="content">
            <h2>About Me</h2>
            <h4>How I started coding</h4>
            <p>I began programming as part of the research I was doing in graduate school. Having no computer science background this new world was extremely exciting. At school, I was using tools like LabVIEW, Visual3D and STATA. I began playing around with C++ in my free time to continue learning. However, my passion for coding did not truly take off until I discovered web development. I look forward to growing as a member of the developer community. Thank you for taking the time to visit my website!</p>
            <h4>Tools</h4>
            <div class="grid">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                </ul>
                <ul>
                    <li>Node.js</li>
                    <li>MongoDB</li>
                    <li>Git</li>
                </ul>
                <ul>
                    <li>LabVIEW</li>
                    <li>Matlab</li>
                    <li>STATA</li>
                    <li>Visual3D</li>
                </ul>
            </div>
            <h4>Education</h4>
            <ul>
                <li><strong>MS in Nutrition and Exercise Science (May 2018)</strong></li>
                <li>Thesis: <em>The Effects of Multiple Sclerosis on Trunk Stability and Postural Control</em></li>
                <li>South Dakota State University</li>
            </ul>
            <ul>
                <li><strong>BS in Exercise Science</strong></li>
                <li>University of Sioux Falls</li>
            </ul>
            <ul>
                <li><strong>AA in Liberal Arts</strong></li>
                <li>Scottsdale Community College <em>Go Fighting Artichokes!</em></li>
            </ul>
            <p id="author">
                <em>-Derek</em>
            </p>
        </div>
    </section>

<% include partials/footer %>
</body>
</html>