<!DOCTYPE html>
<html>
<head>
	<title>Derek Tolbert</title>
	<link rel="stylesheet" type="text/css" href="css/contact.css"></link>
<% include partials/header %>

    <section>
        <div class="background-image" style="background-image: url(/img/joshua-tree.svg);" ></div>
        <div class="content">
            <h2>Contact</h2>
            <ul>
                <li>Email: <a href="mailto:derek.s.tolbert@gmail.com">derek.s.tolbert@gmail.com</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/derek-tolbert-604660157/">Derek-Tolbert</a></li>
                <li>GitHub: <a href="https://github.com/dstolbert">dstolbert</a></li>
            </ul>
        </div>

    </section>

<% include partials/footer %>
</body>
</html>