<!DOCTYPE html>
<html>
<head>
	<title>Derek Tolbert</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/landing.css">
<!--End head here, the closing head tag is in the header.ejs file-->
<% include partials/header %>
	<div class="body">

		<section class="main">
			<div class="background-image" style="background-image: url(/img/joshua-tree.svg);" ></div>
			<div class="content">
				<h2>Welcome!</h2>
				<p>Looking for a web developer? You came to the right place.</p>	
			</div>
			<div id="arrow">
				<i class="fa fa-angle-double-down fa-4x" aria-hidden="true"></i>	
			</div>
		</section>

		<section class="skills">
			<div id="skills-div" class="content">
				<h2>Skills <hr></h2>
				<p>I am familiar with modern front-end development using HTML, CSS, and Javascript. In addition, I also use Node.JS, MongoDB, jQuery, Bootstrap, and Git.</p>	
			</div>
		</section>

		<section class="projects">
			<div id="projects-div" class="content">
				<h2>Work <hr></h2>
				<p>
					Please take a moment to explore some of my projects. These were completed as a part of Colt Steele's Web Development Course and may not yet be mobile-friendly. I have been working through them slowly to change this!
				</p>
				<div class="grid">
					<ul class="grid-item">
						<h4>Webpages</h4>
						<li><a href="/yelpcamp">YelpCamp- Coming Soon!</a></li>
						<li><a href="/mountain">Mountain Travel Landing</a></li>
						<li><a href="/photoblog">Simple Photo Blog</a></li>
						<li><a href="/blog">Simple Blog</a></li>
					</ul>
					<ul class="grid-item">
						<h4>Random Projects</h4>
						<li><a href="/patatap">Patatap Clone</a></li>
						<li><a href="/color">Color Game</a></li>
						<li><a href="/rest">RESTful Routes</a></li>
						<li><a href="/todo">To-Do List</a></li>
					</ul>
				</div>	
			</div>
		</section>
	</div>
	<% include partials/footer %>
	<script type="text/javascript" src="/js/landing.js"></script>
</body>
</html>