<!DOCTYPE html>
<html>
<head>
	<title>Derek Tolbert</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/landing.css">
	<script src="https://use.fontawesome.com/e163cbf77f.js"></script>
</head>
<body>

	<header>
		<nav class="navbar">
			<a href="/">Derek Tolbert</a>
			<div class="links">
				<a href="/">About</a>
				<a href="/">Contact</a>
			</div>
		</nav>
	</header>
	<hr>
	<div class="body">
		<div class="projects">
			<h2>Projects</h2>
			<p><a href="/">YelpCamp</a></p>
			<p><a href="/">Color Game</a></p>
			<p><a href="/patatap">Patatap Clone</a></p>
			<p><a href="/">Selector Exercise</a></p>
			<p><a href="/">To Do List</a></p>
			<p><a href="/">RESTful Mongoose</a></p>
		</div>
		<section class="main">
			<div class="content">
				<h2>Welcome!</h2>
				<p>Looking for a web developer? You came to the right place.</p>	
			</div>
			<div class="scroll">
				<i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>	
			</div>
		</section>
		<section class="skills">
			<div class="content">
				<h2>Skills</h2>
				<p>I am familiar with modern front-end development using HTML, CSS, and Javascript. In addition, I use Node.JS for server side programming.</p>	
			</div>
				<i class="fa fa-angle-double-down fa-2x"a aria-hidden="true"></i>	
		</section>
	</div>

</body>
</html>