<!DOCTYPE html>
<html>
<head>
	<title>Todo</title>
	<link rel="stylesheet" type="text/css" href="css/todo.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<% include partials/header %>

	<div id="container">
		<h1>To-Do List <i id="plus" class="fa fa-plus" aria-hidden="true"></i></h1>
		<input id="newTodo" type="text" placeholder="Add New To-Do">
		<ul id="ul">
			<li id="og"><span id="trash"><i class="fa fa-trash"></i> </span>Fold laundry</li>
		</ul>
	</div>
<% include partials/footer %>
<script type="text/javascript" src="js/todo.js"></script>
</body>
</html>