a {
	color: #232323;
}
a:hover {
    color: #536976;
    font-weight: bold;
}
ul {
	list-style: none;
}
li strong {
	margin: 20px 0;
}
h2 {
	text-align: center;
}
h4 {
	margin: 20px 0;
}

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: 40px 0;
}
.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 5%;
	width: 75%;     
	font-size: 20px;
	opacity: 0;
	-webkit-animation: 1s fadeIn 0.5s forwards;
        animation: 1s fadeIn 0.5s forwards;
}

.content p {
    margin-top: 10px;
    text-align: left;    
}

#author {
    text-align: right;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@-webkit-keyframes fadeIn {
	100% {
		margin-top: inherit;
		opacity: 1;
	}
}

@keyframes fadeIn {
	100% {
		margin-top: inherit;
		opacity: 1;
	}
}

@media (max-width: 800px){
	section {
	    margin: 20% 5%;
		padding: 0;
		font-size: 5px;
	}
	.content {
	    width: 90%;
	}
}

@media (min-width: 800px){
        .background-image {
    	position: absolute;
    	top: 0;
    	left: -1vw;
    	width: 101vw;
    	height: 100vh;
    	background-size: cover;
    	overflow: hidden;
    	z-index: -1;
    }
}

@media (max-width: 800px){
	section {
		max-height: 500px;
	}
}