a {
	color: #232323;
}
ul {
	list-style: none;
}

/*Sections*/

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	padding: 100px 80px;
}

section p {
	font-size: 25px;
}
.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 30px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	opacity: 0;
}

section .fadeIn {
	margin-top: 200px;
	-webkit-animation: 0.6s fadeIn 0s ease-in forwards;
	        animation: 0.6s fadeIn 0s ease-in forwards;
}

@-webkit-keyframes fadeIn {
	100% {
		margin-top: inherit;
		opacity: 1;
	}
}

@keyframes fadeIn {
	100% {
		margin-top: inherit;
		opacity: 1;
	}
}

section:not(.main):nth-child(even) {
	background-color: #eee;
}

@media (max-width: 800px){
	#arrow i{
		color: #536976;
	}
	section {
		padding:20px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
	section h2 {
		font-size: 36px;
	}
	section p {
		font-size: 24px;
	}
}

/*Main*/

.main .content {
	width: 50vw;
	-webkit-animation: 1s fadeIn 0.5s forwards;
	        animation: 1s fadeIn 0.5s forwards;
}

.main .background-image {
	position: absolute;
	top: 0;
	left: -1vw;
	width: 101vw;
	height: 100vh;
	background-size: cover;
	overflow: hidden;
	z-index: -1;
	opacity: 0.9;
}

#arrow {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	text-align: center;
	color: #f5f5f5;
	opacity: 0;
	-webkit-animation: 1s fadeInArrow 0.5s forwards;
	        animation: 1s fadeInArrow 0.5s forwards;
}

@-webkit-keyframes fadeInArrow {
	100% {
		margin-bottom: 20px;
		opacity: 1;
	}
}

@keyframes fadeInArrow {
	100% {
		margin-bottom: 20px;
		opacity: 1;
	}
}

@media (max-width: 800px){
	.main {
		max-height: 500px;
	}
}

/*Skills*/

.skills h2 {
	width: 15%;
	text-align: center;
}

.skills hr {
	width: 15%;
    height: 3px;
    text-align: left;
    background-color: #536976;
    border: none;
    margin-bottom: 5px;
}

.skills .content {
	width: 80vw;
	margin-top: inherit;
}

/*Projects Section*/

.projects .content {
	margin-top: inherit;
}

.grid {
	margin-top: 10%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	    grid-template-columns: 1fr 1fr; 
	text-align: center;
}

.projects h2 {
	width: 15%;
	text-align: center;
}

.projects .content hr {
	text-align: left;
	width: 15%;
    height: 3px;
    background-color: #536976;
    border: none;
    margin-bottom: 5px;
}

.projects a:hover {
	color: #536976;
	font-weight: bold;
}

@media (max-width: 800px){
	.projects {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.grid {
		-ms-grid-columns: 1fr;
		    grid-template-columns: 1fr;
	}
	.grid-items {
		margin-bottom: 30px;
	}
}
