canvas {
	height: 100%;
	width: 100%;
	background-color: black;
}

body {
	background-color: black;
	margin: 0;
}
h1 {
	font: normal 20px sans-serif;
	margin: 1% 40%;
    z-index: 1;
    position: absolute;
    color: white;
}
a {
	color: white;
}