a {
    color: #232323;
}
#header {
    position: fixed;
}
@media (max-width: 800px){
    #header {
        position: relative;
    }
    section {
        text-align: center;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70vw;
    margin-left: 26vw;
    border-bottom: 1px solid #536976;
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 5% 0 10%;
    width: 25vw;
    height: 50vh;
}

@media (max-width: 800px){
    section {
        margin: 5%;
        width: 90%;
    }
    .sidebar {
        display: none;
    }
}

#spaceship {
    cursor: pointer;
    color: #536976;
    opacity: 0;
    margin-right: 50px;
    animation: 1s flyIn 0s linear forwards;
}

@keyframes flyIn {
    100% {
        opacity: 1;
        margin: inherit;
    }
}

#title {
    opacity: 0;
    animation: 1s fadeIn 0s linear forwards;
}
#arrow {
    opacity: 0;
    animation: 1s fadeIn 0s ease-in forwards;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

.project {
    cursor: pointer;
}
.project:hover {
    color: #536976;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

section h2 > a {
    font-size: 36px;
}

section p {
    font-size: 20px;
    width: 80%;
    line-height: 30px;
}
section hr {
    width: 35%;
    background-color: #AC9689;
    height: 3px;
    border: none;
    margin: 10px 0 20px;
}
#blog {
    border: none;
}